__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.env

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
outputs/baseline/*
!outputs/baseline/.gitkeep
outputs/experiments/*
!outputs/experiments/.gitkeep

*.cbm
*.npz
*.pkl
*.pkl.gz
